.main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: blue;
        margin: 20px 20px;
        padding: 20px 20px;
}


#container{
    width:300px;
    font-family: "Gill Sans", sans-serif;
    margin: 20px;
    padding:0 10px 10px 10px;
}

.card-header{
    text-align: center;
    font-weight: 600;
    color: grey;
    padding: 15px 0;
}

.title{
   font-size: 10px;
   font-weight: 600;
}

.card-title{
    text-align: center;
    font-size: 35px;
}

.elements{
    display:flex
}

.checked{
    width:20px;
    height:20px;
    margin-right: 10px;
}

@media (max-width: 800px) {
    .main {
      display:block;
    }
    #container{
        width: auto;
    }
  }



